/* spillit.css */

body {
    font-family: Arial, sans-serif;
    background-color: #fcd4e9;
    margin: 0;
    padding: 0;
}

#signuplogin {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 80px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
    text-shadow: 0 0 10px #FFFFFF, 2px 2px 0px rgba(206,29,29,0);
    color: #FFFFFF;
    background: #FFA6E6;      
}

form {
    color: #FFA6E6;
    font-style: italic;
    font-size: 20px;
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #FFA6E6;
    border-radius: 5px;
}

.signup-button {
    
    font-size: 20px; 
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FFA6E6;
    padding: 10px 40px; /* Increased padding for horizontal length */
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50px; /* Makes the button oval */
}

.signup-button:hover {
    background: #FF66A2; 
}

/* styles.css */

#buttons {
    text-align: center; /* Center the buttons horizontally */
    margin-top: 5vh; /* Move the buttons halfway down the viewport */
    transform: translateY(-50%); /* Adjust to vertically center the buttons */
}



